# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://cknfzognxqyecfdaqlxe.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNrbmZ6b2dueHF5ZWNmZGFxbHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk0NDc5OTYsImV4cCI6MjA5NTAyMzk5Nn0.P43BTkH9GO1f7K1Xbw1NZ7hqEVBe97Ctd9uTjFtGX0Q

# Google Maps (react-native-maps)
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
QQTly0wXP3xgt1Lp