# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here

# Google Maps (react-native-maps)
GOOGLE_MAPS_API_KEY=your-google-maps-api-key
QQTly0wXP3xgt1Lp